[submodule "submodules/rope"]
	path = submodules/rope
	url = https://github.com/python-rope/rope
    shallow = true
[submodule "submodules/pytoolconfig"]
	path = submodules/pytoolconfig
	url = https://github.com/bagel897/pytoolconfig.git
[submodule "submodules/tomli"]
	path = submodules/tomli
	url = https://github.com/hukkin/tomli.git
